<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="manifest" href="manifest.json"> -->
    <title>Roll Tables</title>
    <link rel="icon" href="favicon.png">
    <meta name="description" content="Create and use roll tables.">
    <meta name="author" content="Noodles!">
    <meta property="og:title" content="Roll Tables">
    <meta property="og:url" content="https://nnoodle.github.io/roll-tables">
    <meta property="og:image" content="https://nnoodle.github.io/roll-tables/favicon.png">
    <meta property="og:description" content="Create and use roll tables.">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pieroxy/lz-string@1.4.4/libs/lz-string.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/LZMA-JS/LZMA-JS@2.3.0/src/lzma_worker-min.js"></script>
         <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/beatgammit/base64-js@1.3.1/base64js.min.js"></script> -->
  </head>
  <body>
    <div id="app">
      <nav id="saves-menu" v-if="Object.keys(savedTables).length">
        <ul class="saved-table-list">
          <li v-for="tbl in Object.keys(savedTables).sort()"
              class="saved-table">
            <input type="checkbox" class="checkbox"
                   v-model="savedTables[tbl].roll"
                   v-on:click="toggleRoll(tbl, $event)">
            <a v-bind:href="'#'+savedTables[tbl].link" v-on:click="loadTable(tbl)">{{ tbl }}</a>
            <button class="delete-button button-small" title="delete table"
                    v-on:click="deleteTable(tbl)">🗑</button>
          </li>
        </ul>
      </nav>
      <main>
        <div>
          <div>
            <input type="checkbox" class="checkbox" v-model="rollCurrentTable">
            <button type="button" title="roll table(s)" class="button-outline button-small"
                    v-on:click="doRoll">🎲</button>
            <output v-if="!Array.isArray(result)">{{ result }}</output>
            <output v-else>
              <ul>
                <li v-for="r of result">{{ r }}</li>
              </ul>
            </output>
          </div>
          <div>
            <div>
              <input type="text" v-model="t.name" placeholder="table name">
              <button type="button" v-on:click="saveTable">save</button>
              <output><code>{{ hash.length }} bytes</code></output>
            </div>
            <table id="dicetable">
              <thead>
                <tr>
                  <th>
                    <input type="text" placeholder="2d6" size="2"
                           v-model="dice" v-on:change="updateDice">
                  </th>
                  <th>value</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="{ dc, val } of t.data" v-bind:key="dc">
                  <td>
                    <input type="number" min="1" placeholder="DC" v-bind:data-dc="dc"
                           v-model="dc" v-on:change="changeDC">
                  </td>
                  <td>
                    <textarea placeholder="…" rows="1" cols="40"
                              v-on:keyup="updateEntry(dc, $event)" v-model="val">
                    </textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer>
            <center>inspired by <a href="https://itty.bitty.site">itty.bitty.site</a></center>
          </footer>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
